body{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 0%;
}

.section{
    text-align: center;
    padding-left: 5%;
}

h2 {
    margin: 0%;
}

/*去除 a的底線跟顏色改變*/
a {
    text-decoration: none;
    color: black;
}

.flex_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#header {
    /*向上滑會固定於頂端*/
    top: 0; 
	height: 10%;
    padding: 0% 3%;
    z-index: 999;/*最前面*/

    /*將header內容物至於兩端*/
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: none;
	color: black;
	text-align: center;

}

.icon{
    max-height: 30px;
    margin-right: 5px;
    margin-top: 10px;
}

.in{
    display: none;
}

button{
    background-color: unset;
    border: none;
    margin: 0%;
    padding: 0%;
}

nav ul{
list-style: none;
display: flex;
justify-content: center;
}

/*2階層目以降は横並びにしない*/
nav ul ul{
	display: block;
}

nav ul li a{
color: #666;
padding:10px;
}

nav li.has-child > div{
    /*絶対配置で位置を指定*/
    position: absolute;
    border-radius: 5%;
	right: 0;
	top:62px;
    /*形状を指定*/
	background:white;
	width:200px;
    /*はじめは非表示*/
	visibility: hidden;
	opacity: 0;
    /*アニメーション設定*/
	transition: all .3s;
}


nav ul li a:hover{
	color: black;	
}

/*hoverしたら表示*/
nav li.has-child:hover > div,
nav li.has-child:active > div{
  visibility: visible;
  opacity: 1;
}

.pro_icon{
    padding-top:5%;
    margin: 5%;
    height: 75px;
    display: flex;
}

.pro_icon img{
    padding-left: 10%;
    height: 100%;
    border-radius: 50%;
    margin: 0%;
}

.info{
    padding-top: 10%;
    text-align: left;
    margin: 5%;
}

.info p{
    margin: 0%;
}

.number{
    width: 40%;
    padding: 5%;
}

.number p{
    margin: 0%;
}

.menu{
    text-align: left;
    width: 90%;
    margin: 5%;
}

.menu :hover{
    background-color: whitesmoke;
}

/*menu botton*/

.openbtn9{
    position: relative;/*ボタン内側の基点となるためrelativeを指定*/
    background: white;
    cursor: pointer;
      width: 50px;
      height:50px;
    border-radius: 5px;
    overflow: hidden;/*ジャンプしてはみ出た要素を消す*/
  }
    
  /*ボタン内側*/
  
  .openbtn9 .openbtn-area{
      transition: all .4s;/*アニメーションの設定*/
  }
  
  .openbtn9 span{
      display: inline-block;
      transition: all .4s;/*アニメーションの設定*/
      position: absolute;
      left: 14px;
      height: 3px;
      border-radius: 2px;
    background: gray;
      width: 45%;
    }
  
  
  .openbtn9 span:nth-of-type(1) {
    top:15px; 
  }
  
  .openbtn9 span:nth-of-type(2) {
    top:23px;
  }
  
  .openbtn9 span:nth-of-type(3) {
    top:31px;
  }
  
  
  /*activeクラスが付与されると .openbtn-areaが360度回転し、
  その中の線のtopの位置や形状が変化して×に*/
  
  .openbtn9.active .openbtn-area{
    transform: rotateX(360deg);
  }
  
  .openbtn9.active span:nth-of-type(1) {
      top: 18px;
      left: 18px;
      transform: translateY(6px) rotate(-135deg);
      width: 30%;
  }
  
  .openbtn9.active span:nth-of-type(2) {
    opacity: 0;
  }
  
  .openbtn9.active span:nth-of-type(3){
      top: 30px;
      left: 18px;
      transform: translateY(-6px) rotate(135deg);
      width: 30%;
  }

/*end of menu botton*/

#search {
    margin: auto;
    display: flex;
    align-items: center;
    width: 400px;
    height: 40px;
    background-color: white;
    border-bottom: lightgray 3px solid;
}

#search img{
    height: 25px;
    margin: 10px 0%;
}

#search input{
    width: 270px;
    height: 100%;
    border: none;
    outline: none;
    background-color:white;
    font-size: 100%;
}